# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories
vendor/

# Ignore IDE and editor files
*.swp
*.swo
*~
*.project
*.sublime-*
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Specific project binaries
dynamic_identity_server
mfa_server
api_server
